/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/.idea/
/web/assets/profilepictures/*
!/web/assets/profilepictures/index.html
/web/compiled/js/*
/web/compiled/css/*
/composer.lock