{% extends 'base.html.twig'%}

{% block stylesheets %}
    {% stylesheets
    'assets/css/plugins/dataTables/dataTables.responsive.css'
    'assets/css/plugins/dataTables/dataTables.bootstrap.css'
    %}
    <link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-12 col-md-3">
        <h2>Select the dataset</h2>
        <div class="margin-bottom-20px"> <!-- old class: ibox-content -->
            <select id="dataset" name="dataset" class="form-control required padding-bottom-20px ">
                {% for dataset in datasets %}
                    <option value={{ dataset.id|e }}>{{ dataset.name|e }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-sm-12 col-md-9">
        <div class="row white-bg">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="fa fa-line-chart fa-4x"></i>
                        </div>
                        <div class="col-sm-10 text-right">
                            <span>Top Accuracy</span>
                            <h3 class="font-bold" id="top_accuracy">&nbsp</h3>
                            <span id="top_accuracy_username"><i>&nbsp</i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="widget style1 blue-bg">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="fa fa-area-chart fa-4x"></i>
                        </div>
                        <div class="col-sm-10 text-right">
                            <span>Top AUROC</span>
                            <h3 class="font-bold" id="top_auroc">&nbsp</h3>
                            <span id="top_auroc_username"><i>&nbsp</i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="fa fa-area-chart fa-4x"></i>
                        </div>
                        <div class="col-sm-10 text-right">
                            <span>Top AUPR</span>
                            <h3 class="font-bold" id="top_aupr">&nbsp</h3>
                            <span id="top_aupr_username"><i>&nbsp</i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="widget style1 red-bg">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="fa fa-cogs fa-4x"></i>
                        </div>
                        <div class="col-sm-10 text-right">
                            <span>Top Runtime</span>
                            <h3 class="font-bold" id="top_runtime">&nbsp</h3>
                            <span id="top_runtime_username"><i>&nbsp</i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Leaderboard</h5>
            </div>
            <div class="ibox-content">
                <div style="width: 100%">
                <table class="table table-striped table-bordered table-hover table-responsive" id="ranking_table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Rank</th>
                        <th>User</th>
                        <th>Classifier</th>
                        <th>Accuracy</th>
                        <th>AUROC</th>
                        <th>AUPR</th>
                        <th>Runtime</th>
                        <th>Date</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>Rank</th>
                        <th>User</th>
                        <th>Classifier</th>
                        <th>Accuracy</th>
                        <th>AUROC</th>
                        <th>AUPR</th>
                        <th>Runtime</th>
                        <th>Date</th>
                    </tr>
                    </tfoot>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}


    {% block scripts %}
        {% javascripts
        'assets/js/plugins/dataTables/jquery.dataTables.js'
        'assets/js/plugins/dataTables/dataTables.bootstrap.js'
        'assets/js/plugins/qTip/jquery.qtip.js'
        'assets/js/plugins/dataTables/dataTables.responsive.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            $(document).ready(function() {
                var table = $('#ranking_table').DataTable( {
                    "ajax": {
                        url: "/ranking/getdata",
                        data: function(d){
                            d.dataset_id = $('#dataset').val()
                        }
                    },
                    "columnDefs": [
                        {
                            // Custom render to the user col
                            "render": function ( data, type, row ) {
                                var output = "<a href='/user/"+data.username+"'>";
                                if (data.picture) {
                                    output += "<img src='" + data.picture + "' alt='" + data.username + "' class='smalluserpicture' /> "; // Do not remove this last space
                                }
                                output += data.username+"</a>";
                                return output;
                            },
                            "targets": 1
                        },
                        { "orderable": false, "targets": [1,2] },
                        { "searchable": false, "orderable": false, "targets": 0 }
                    ],
                    order: [[3, 'desc']],
                    "aoColumns": [
                        null,
                        null,
                        null,
                        { "asSorting": [ "desc", "asc" ] },
                        { "asSorting": [ "desc", "asc" ] },
                        { "asSorting": [ "desc", "asc" ] },
                        { "asSorting": [ "asc", "desc" ] },
                        null
                    ],
                    responsive: true, // TODO: This doesn't seem to be working
                    "bSortClasses": false
                } );

                // TODO: Edit below to reverse ranking if the user sort a column in ascending order
                // Except maybe for run time where lower is better
                // Note: We also need to account for ties here and display the same rank for them
                table.on( 'order.dt search.dt', function () {
                    table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                        cell.innerHTML = i+1;
                    } );
                } ).draw();

                $('#dataset').on('change', function (e) {
                    getTop($('#dataset').val());
                    table.ajax.reload();
                });

                function getTop(dataset_id){
                    jQuery.ajax({
                        async: true,
                        dataType: "json",
                        url: "/ranking/gettop?dataset_id="+dataset_id,
                        data: "",
                        success: function(data){
                            if (data.accuracy){
                                $('#top_accuracy').text(parseFloat(data.accuracy.top).toFixed(4));
                                $('#top_accuracy_username').text(data.accuracy.username);
                            } else{
                                $('#top_accuracy').text("Unavailable");
                                $('#top_accuracy_username').text("Unavailable");
                            }

                            if (data.auroc) {
                                $('#top_auroc').text(parseFloat(data.auroc.top).toFixed(4));
                                $('#top_auroc_username').text(data.auroc.username);
                            } else{
                                $('#top_auroc').text("Unavailable");
                                $('#top_auroc_username').text("Unavailable");
                            }

                            if (data.aupr) {
                                $('#top_aupr').text(parseFloat(data.aupr.top).toFixed(4));
                                $('#top_aupr_username').text(data.aupr.username);
                            } else{
                                $('#top_aupr').text("Unavailable");
                                $('#top_aupr_username').text("Unavailable");
                            }

                            if (data.runtime) {
                                $('#top_runtime').text(parseFloat(data.runtime.top).toFixed(4));
                                $('#top_runtime_username').text(data.runtime.username);
                            } else{
                                $('#top_runtime').text("Unavailable");
                                $('#top_runtime_username').text("Unavailable");
                            }

                        }
                    }).fail(function() {
                        alert("Could not retrieve the top results.");
                    });
                }

                getTop($('#dataset').val());


            });




        </script>
    {% endblock %}
