{% extends 'base.html.twig' %}

{% block title "Hello " ~ name %}

    {% block scripts %}
        {{ parent() }}
        <script>
            $(document).ready(function(){
                $("p").click(function(){
                    $(this).hide();
                });
            });
        </script>
    {% endblock %}

    {% block body %}
        <h1>Hello {{ name }}!</h1>
        <!-- Split button -->
        <div class="btn-group">
            <button type="button" class="btn btn-danger">Testing bootstrap</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">I think</a></li>
                <li><a href="#">This</a></li>
                <li><a href="#">Works</a></li>
                <li class="divider"></li>
                <li><a href="#">Doesn't it?</a></li>
            </ul>
        </div>

        <br></<br> <br></<br>
        <h2>Testing jQuery:</h2>
        <p>If you click on me, I will disappear.</p>
        <p>Click me away!</p>
        <p>Click me too!</p>

    {% endblock %}