{% extends 'base.html.twig' %}

{% block welcome %}
    {% if greet == 1 %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <script type="text/javascript">
                function welcome() {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'slideDown',
                        timeOut: 4000
                    };
                    toastr.success('Hi, ' + '{{ app.user.firstname }}'+'!');
                }
                window.onload = welcome;
            </script>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-content animated{# fadeInRight#}">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <h1>
                        Welcome to our web-based data analytics portal!
                    </h1>
                    <small>
                        This is an application that lets you do nothing. You can do nothing on this page or you can click on nothing to go nowhere.
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
