{% extends 'base.html.twig' %}

{% block welcome %}
    <script type="text/javascript">
        function welcome() {
            toastr.success('Welcome to ODE!');
        }
        window.onload = welcome;
    </script>
{% endblock %}

{# TODO: Check when user logs in or logs out and display toaster accordingly #}

{% block body %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <h1>
                        Welcome to our web-based CLASSIFICATION tool
                    </h1>
                    <small>
                        This is an application that lets you do nothing. You can do nothing on this page or you can click on nothing to go nowhere.
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
